*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


*.apk
*.aab
*.ap_
debug/
release/

*.jks
*.keystore
keystore.properties
/app/release
/app/debug

google-services.json
**/google-services.json
firebase-config.json

apikey.properties
secrets.xml
/app/src/main/res/values/secrets.xml


*.log
output-metadata.json
lint-report.html

/build-cache/
generated/
/app/generated/

Thumbs.db
.DS_Store?
._*

.idea/appInsightsSettings.xml
